body {
	background:#999;
	font-family: arial;
}
/* its
 <link href = "main.css " type = "text/css" rel= "stylesheet" /> */
 h1, h2 {
 	color: #555;
 }

 a {
 	color: purple;
 }

 p {
 	background: #666; 
 	color: white; 
 	padding: 10px;
 }

.secondary {
	background: none;
	color: black;
}
#special {
	background: red;
	color: white;
}